.container {
  text-align: center;
  font-family: 'Times New Roman';
}
.navAlignment {
  margin-left: 24px;
  cursor: pointer;
  border: none;
  background-color: white;
}
.navAlignment:hover {
  color: blue;
  text-decoration: underline;
}
